{% extends 'app/base.html' %}
{% load static %}
{% block title %}Maison Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-5 text-center align-self-center">
   <img src="{{maison.image_maison.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2> Maison : {{maison.title}}</h2>
   <hr>
   <p>{{maison.description}}</p> <br>
   <h4>Rs. {{maison.Prix}} <small class="fw-light text-decoration-line-through">Rs. {{maison.Prix}}</small></h4> <br>
   <a href="{% url 'about' %}" class="btn btn-primary shadow px-5 py-1">About Us</a>
   <a href="{% url 'contact' %}" class="btn btn-danger shadow px-5 py-1 ms-4">Contact us</a>
   <h5 class="mt-5"> Offers Disponible</h5>
   <ul>
    <li>Bank Offer 5% Unlimité</li>
    <li>Special Price Get extra 3000 off (price inclusive of discount)</li>
    <li>No cost EMI 1667/month. Standard EMI also available</li>
    <li>Partner Offer 2000 Flipkart Gift Card on Every 1000th Transaction with a new Visa Debit/Credit Card</li>
   </ul>
  </div>
 </div>
</div>
{% endblock main-content %}